<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link class="icon" rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/snippets.css">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <title><%= title %></title>
</head>
<body>
<div class="header">
    <h1><%= section %></h1>
    <div class="">
        <a href="/" class="button header">Accueil</a>
        <a href="/languages" class="button header">Langages</a>
        <% if (user === undefined) {%>
        <a href="/auth" class="button header">Connexion</a>
        <% } else { %>
        <p><%= user.name %></p>
        <a href="/auth/logout" class="button header">Déconnexion</a>
        <% } %>
    </div>
</div>
