<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link class="icon" rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/snippets.css">
    <title><%= title %></title>
</head>
<body>
<div class="header">
    <h1><%= section %></h1>
</div>